<h1 mat-dialog-title>Do you want to delete this item?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
  <button mat-button (click)="onYesClick()">Yes</button>
</div>