<mat-card>
    <mat-card-content>
      <form>
          <table cellspacing="0">
              <tr>
                  <td>
                    <mat-form-field>
                    <input matInput placeholder="First Name" [(ngModel)]="user.firstName" name="firstName" required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field>
                    <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName" required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                    <td>
                      <mat-form-field>
                      <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
                      </mat-form-field>
                    </td>
                  </tr>
                <tr>
             <tr>
              <td>
                <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="user.password" name="password" type="password"  required>
                </mat-form-field>
              </td>
            </tr>  
            <tr>
              <td>
                <mat-form-field>
                <input matInput placeholder="Confirm Password" [(ngModel)]="user.confirmPassword" name="confirmPassword" type="password"  required>
                </mat-form-field>
              </td>
            </tr>            
            <tr>
              <td>
                <mat-form-field>
                <input matInput placeholder="Phone" [(ngModel)]="user.phone" name="phone" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="register()" color="primary">Sign up</button>
      <div>Have an account?
        <a routerLink="/login">
          <span>Log in</span>
        </a>
      </div>
    </mat-card-actions>
</mat-card>