:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .mat-raised-button {
      width: 100%;
  }

  mat-card-actions div {   
    text-align: center;
    margin-top: 15px;
  }

  div a{
    text-decoration: none;
  }

  mat-card{
    background: lavender;
  }