<form class="form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="First Name"  name="firstName" required  [(ngModel)]="teacher.firstName">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="Middle Name" name="middleName" required  [(ngModel)]="teacher.middleName">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="Last Name" name="lastName" required  [(ngModel)]="teacher.lastName">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="Address" name="homeAddress" required  [(ngModel)]="teacher.homeAddress">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="DateOfBirth" type="date" name="dateOfBirth" required  [ngModel]="teacher.dateOfBirth | date: 'yyyy-MM-dd'">
  </mat-form-field>  

  <mat-form-field class="full-width">
    <mat-select placeholder="Gender" [(ngModel)]="teacher.gender" [(value)]="teacher.gender" required name="gender">
      <mat-option *ngFor="let g of gender" [value]="g.key">
        {{g.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Subject" [(ngModel)]="teacher.subjectId" [(value)]="teacher.subjectId" required name="subjectId">
      <mat-option *ngFor="let subject of subjects" [value]="subject.id">
        {{subject.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="School" [(ngModel)]="teacher.schoolId" [(value)]="teacher.schoolId" required name="schoolId">
      <mat-option *ngFor="let school of schools" [value]="school.id">
        {{school.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<button mat-raised-button color="primary" type="submit">Submit</button>
</form>