<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="navbar.visible && !(isHandset$ | async)">
    <mat-toolbar>School Journal</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/schools">Schools</a>
      <a mat-list-item routerLink="/teachers">Teachers</a>
      <a mat-list-item routerLink="/subjects">Subjects</a>
      <a mat-list-item routerLink="/grades">Grades</a>
      <a mat-list-item routerLink="/students">Students</a>
      <a *ngIf="navbar.visible" mat-list-item (click)="logout(); drawer.close()">Log out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="navbar.visible">
      <button 
        type="button"
        *ngIf="(navbar.visible && isHandset$ | async)"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
