.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background-color: white;
  }

  mat-sidenav-content {
    background-color: white;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .logout{
    flex: 1 1 auto;
    text-align: right;
  }