<form class="form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="First Name"  name="firstName" required  [(ngModel)]="student.firstName">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="Middle Name" name="middleName" required  [(ngModel)]="student.middleName">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="Last Name" name="lastName" required  [(ngModel)]="student.lastName">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="Address" name="homeAddress" required  [(ngModel)]="student.homeAddress">
  </mat-form-field>  
  
  <mat-form-field class="full-width">
    <input matInput placeholder="DateOfBirth" type="date" name="dateOfBirth" required  [ngModel]="student.dateOfBirth | date: 'yyyy-MM-dd'">
  </mat-form-field>  

  <mat-form-field class="full-width">
    <mat-select placeholder="Gender" [(ngModel)]="student.gender" [(value)]="student.gender" required name="gender">
      <mat-option *ngFor="let g of gender" [value]="g.key">
        {{g.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Grade" [(ngModel)]="student.gradeId" [(value)]="student.gradeId" required name="gradeId">
      <mat-option *ngFor="let grade of grades" [value]="grade.id">
        {{grade.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<button mat-raised-button color="primary" type="submit">Submit</button>
</form>