<form class="form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  
  <mat-form-field class="full-width">
    <input  matInput placeholder="Name" name="name" [(ngModel)]="grade.name">
  </mat-form-field>  

  <mat-form-field class="full-width">
    <mat-select placeholder="Teacher" [(ngModel)]="grade.teacherId" [(value)]="grade.teacherId" required name="TeacherId">
      <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
        {{teacher.firstName}} {{teacher.middleName}} {{teacher.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<button mat-raised-button color="primary" type="submit">Submit</button>

</form>
