@media(min-width: 768px) {
  mat-toolbar{
    visibility: hidden;
  }
}
 
 :host {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
  }
  
  .forgot-password{      
    color: gray;
    font-size: 14px;
  }

  mat-card-actions div {   
    text-align: center;
    margin-top: 15px;
  }

  div a{
    text-decoration: none;
  } 

  body{
    background-color: #3f51b5 !important;
  }

   html {
    width: 100%;
    height: 100%;
  }
  form {
    padding: 20px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 12px;
    width: 400px;
    background: lavender;
  }
  form .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    background: none;
    border: solid 2.5px #3A5E77;
    overflow: hidden;
    pointer-events: none;
  }
  form .svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
  }
  form .svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  form .inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
  }
  form .inputGroup:last-of-type {
    margin-bottom: 0;
  }
  form label {
    display: block;
    font-size: 14px;
    color: #3f51b5;
    font-weight: 700;
    font-family: inherit;
  }
  form input[type='email'], form input[type="text"], form input[type='password'] {
    display: block;
    margin: 0;
    padding: 0 8px 0;
    background-color: #f3fafd;
    border: solid 2px #3f51b5;
    border-radius: 4px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    -webkit-transition: border-color .25s ease-out, -webkit-box-shadow .2s linear;
    transition: border-color .25s ease-out, -webkit-box-shadow .2s linear;
    transition: box-shadow .2s linear, border-color .25s ease-out;
    transition: box-shadow .2s linear, border-color .25s ease-out, -webkit-box-shadow .2s linear;
  } 
  form input[type='email']:focus, form input[type="text"]:focus, form input[type='password']:focus {
    outline: none;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px #3f51b5;
  }
  form button {
    display: block;
    margin: 0;
    background-color: #3f51b5;
    border: none;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
  }
  form button:hover, form button:active {
    background-color: #3f51b5;
  }
  form .inputGroup1 .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
  }
  form .inputGroup1 .helper1 {
    top: 0;
    left: 0;
    -webkit-transform: translate(1.4em, 2.6em) scale(1);
            transform: translate(1.4em, 2.6em) scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    color: #217093;
    font-size: 14px;
    font-weight: 400;
    opacity: .65;
    pointer-events: none;
    -webkit-transition: opacity .2s linear, -webkit-transform .2s ease-out;
    transition: opacity .2s linear, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s linear;
    transition: transform .2s ease-out, opacity .2s linear, -webkit-transform .2s ease-out;
  }