<form class="form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Name" name="Name" [(ngModel)]="school.name">
  </mat-form-field>  

  <mat-form-field class="full-width">
    <input matInput placeholder="Area" name="Area" [(ngModel)]="school.area">
  </mat-form-field> 

  <mat-form-field class="full-width">
    <input matInput placeholder="Region" name="Region" [(ngModel)]="school.region">
  </mat-form-field> 

  <mat-form-field class="full-width">
    <input matInput placeholder="Town" name="Town" [(ngModel)]="school.town">
  </mat-form-field> 

  <mat-form-field class="full-width">
    <input matInput placeholder="Street" name="Street" [(ngModel)]="school.street">
  </mat-form-field> 

  <mat-form-field class="full-width">
    <input matInput placeholder="Phone" name="Phone" [(ngModel)]="school.phone">
  </mat-form-field> 

  <mat-form-field class="full-width">
    <input matInput placeholder="IndexMail" type="number" name="IndexMail" [(ngModel)]="school.indexMail">
  </mat-form-field> 

  <mat-form-field class="full-width">
    <input matInput placeholder="Mail" name="Mail" [(ngModel)]="school.mail">
  </mat-form-field> 
  
<button mat-raised-button color="primary" type="submit">Submit</button>
</form>

