<button mat-raised-button (click)="addStudent()"> Add student </button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <th mat-header-cell *matHeaderCellDef>Middle Name</th>
    <td mat-cell *matCellDef="let element">{{ element.middleName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="homeAddress">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{ element.homeAddress }}</td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef>Date Of Birthday</th>
    <td mat-cell *matCellDef="let element">
      {{ element.dateOfBirth | date: "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{ Gender[element.gender] }}</td>
  </ng-container>

  <ng-container matColumnDef="gradeName">
    <th mat-header-cell *matHeaderCellDef>Grade</th>
    <td mat-cell *matCellDef="let element">{{ element.gradeName }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editStudent(element)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button  (click)="deleteStudent(element.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
