<form class="form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Name" name="name" [(ngModel)]="subject.name">
  </mat-form-field>  
<button mat-raised-button color="primary" type="submit">Submit</button>
</form>